.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*need to make mobile friendly */

#root {
  background-attachment: fixed;
   /* background-color: 	silver; */
  background-size: cover;
  height: 100vh;
  background-position: center;
  width: 100vw;
}

.MuiAppBar-root {
  background: #4E2A84 !important;
}

.title {
  font-size: 7vmin !important;
  color: White;
  font-family: Tahoma, Geneva, sans-serif;
}

.homeTablePaper {
  min-width: 82.5vmin;
}

.homeTableHead {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 4.8vmin !important;
  font-weight: bold !important;
}

.MuiTextField-root {
  max-width: 13vmin;
  background-color: white;
}

.MuiButton-root {
  background-color:#4E2A84  !important;
  font-size: 3.5vmin !important;
}

/*
.MuiSelect-root {
  max-width: 12vw;
}

.MuiSelect-icon {
  max-width: 14vw;
}
*/

@media screen and (min-width: 800px){
  /*
  #root {
    background-attachment: fixed;
    background-color: silver;
    background-size: cover; 
    background-position: center;
    height: 100vh;
    width: 60vw;
  } */
  /*
  .MuiAppBar-root {
    max-width: 700px;
  } */
  .title {
    font-size: 36px !important;
  }
  .homeTablePaper {
    min-width: 580px;
    max-width: 580px;
  }
  .homeTableHead {
    font-size: 20px !important;
  }
  .MuiTextField-root {
    max-width: 100px;
  }
  .MuiButton-root {
    font-size: 13px !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
